<section class="forever-additional overflow-hidden lg:overflow-visible md:pt-[59px] md:pb-[101px] py-[50px] px-4">
    <div class="max-w-[1170px] mx-auto">
        <div
            class="relative flex flex-col md:flex-row gap-2 lg:gap-[49px] items-center justify-between lg:items-start">

            <div class="w-full md:max-w-[380px] lg:max-w-[415px] flex flex-col items-center md:block">
                <div
                    class="w-full mb-[33px] flex flex-col items-center lg:items-start text-center lg:text-left shrink-0">
                    <h3 class="font-cormorant font-semibold text-[35px] leading-[40px] lg:text-[58px]/[50px] mb-[37px]">
                        Дополнительные работы
                    </h3>
                    <p class="text-[14px]/[22px]">
                        В рамках проекта также были выполнены дополнительные задачи:
                    </p>
                </div>

                <div class="flex flex-col items-center sm:items-start gap-y-3 sm:gap-y-[25px] w-full max-w-[316px]">
                    <div
                        class="rounded-[26px] group p-2 sm:p-0 hover:bg-[#FFFEFD] w-full flex items-start gap-[18px] justify-start text-left transition-all duration-300">
                        <div
                            class="shrink-0 transition-colors duration-300 text-[#333535]/50 group-hover:text-[#068178]">
                            <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.4956 11.4382L13.3718 19.562L9.50444 15.6948" stroke="currentColor"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <mask id="mask0_40_323" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="31" height="31">
                                    <path d="M0 1.90735e-06H31V31H0V1.90735e-06Z" fill="white" />
                                </mask>
                                <g mask="url(#mask0_40_323)">
                                    <path
                                        d="M29.7891 15.5C29.7891 23.3916 23.3916 29.7891 15.5 29.7891C7.60838 29.7891 1.21094 23.3916 1.21094 15.5C1.21094 7.60838 7.60838 1.21094 15.5 1.21094C23.3916 1.21094 29.7891 7.60838 29.7891 15.5Z"
                                        stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>
                        </div>
                        <div class="flex-1 pt-1">
                            <p
                                class="font-montserrat font-normal text-[14px] leading-5 text-dark/75 group-hover:text-dark transition-colors duration-300">
                                Подбор и обработка визуального контента для сайта
                            </p>
                        </div>
                    </div>

                    <div
                        class="rounded-[26px] group p-2 sm:p-0 hover:bg-[#FFFEFD] w-full flex items-start gap-[18px] justify-start text-left transition-all duration-300">
                        <div
                            class="shrink-0 transition-colors duration-300 text-[#333535]/50 group-hover:text-[#068178]">
                            <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.4956 11.4382L13.3718 19.562L9.50444 15.6948" stroke="currentColor"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <g mask="url(#mask0_40_323)">
                                    <path
                                        d="M29.7891 15.5C29.7891 23.3916 23.3916 29.7891 15.5 29.7891C7.60838 29.7891 1.21094 23.3916 1.21094 15.5C1.21094 7.60838 7.60838 1.21094 15.5 1.21094C23.3916 1.21094 29.7891 7.60838 29.7891 15.5Z"
                                        stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>
                        </div>
                        <div class="flex-1 pt-1">
                            <p
                                class="font-montserrat font-normal text-[14px] leading-5 text-dark/75 group-hover:text-dark transition-colors duration-300">
                                Оптимизация структуры страниц
                            </p>
                        </div>
                    </div>

                    <div
                        class="rounded-[26px] group p-2 sm:p-0 hover:bg-[#FFFEFD] w-full flex items-start gap-[18px] justify-start text-left transition-all duration-300">
                        <div
                            class="shrink-0 transition-colors duration-300 text-[#333535]/50 group-hover:text-[#068178]">
                            <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.4956 11.4382L13.3718 19.562L9.50444 15.6948" stroke="currentColor"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <g mask="url(#mask0_40_323)">
                                    <path
                                        d="M29.7891 15.5C29.7891 23.3916 23.3916 29.7891 15.5 29.7891C7.60838 29.7891 1.21094 23.3916 1.21094 15.5C1.21094 7.60838 7.60838 1.21094 15.5 1.21094C23.3916 1.21094 29.7891 7.60838 29.7891 15.5Z"
                                        stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>
                        </div>
                        <div class="flex-1 pt-1">
                            <p
                                class="font-montserrat font-normal text-[14px] leading-5 text-dark/75 group-hover:text-dark transition-colors duration-300">
                                Настройка отображения торговых предложений в каталоге
                            </p>
                        </div>
                    </div>

                    <div
                        class="rounded-[26px] group p-2 sm:p-0 hover:bg-[#FFFEFD] w-full flex items-start gap-[18px] justify-start text-left transition-all duration-300">
                        <div
                            class="shrink-0 transition-colors duration-300 text-[#333535]/50 group-hover:text-[#068178]">
                            <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.4956 11.4382L13.3718 19.562L9.50444 15.6948" stroke="currentColor"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <g mask="url(#mask0_40_323)">
                                    <path
                                        d="M29.7891 15.5C29.7891 23.3916 23.3916 29.7891 15.5 29.7891C7.60838 29.7891 1.21094 23.3916 1.21094 15.5C1.21094 7.60838 7.60838 1.21094 15.5 1.21094C23.3916 1.21094 29.7891 7.60838 29.7891 15.5Z"
                                        stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>
                        </div>
                        <div class="flex-1 pt-1">
                            <p
                                class="font-montserrat font-normal text-[14px] leading-5 text-dark/75 group-hover:text-dark transition-colors duration-300">
                                Интеграция отзывов Google
                            </p>
                        </div>
                    </div>

                    <div
                        class="rounded-[26px] group p-2 sm:p-0 hover:bg-[#FFFEFD] w-full flex items-start gap-[18px] justify-start text-left transition-all duration-300">
                        <div
                            class="shrink-0 transition-colors duration-300 text-[#333535]/50 group-hover:text-[#068178]">
                            <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.4956 11.4382L13.3718 19.562L9.50444 15.6948" stroke="currentColor"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <g mask="url(#mask0_40_323)">
                                    <path
                                        d="M29.7891 15.5C29.7891 23.3916 23.3916 29.7891 15.5 29.7891C7.60838 29.7891 1.21094 23.3916 1.21094 15.5C1.21094 7.60838 7.60838 1.21094 15.5 1.21094C23.3916 1.21094 29.7891 7.60838 29.7891 15.5Z"
                                        stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>
                        </div>
                        <div class="flex-1 pt-1">
                            <p
                                class="font-montserrat font-normal text-[14px] leading-5 text-dark/75 group-hover:text-dark transition-colors duration-300">
                                Улучшение пользовательских сценариев обращения в компанию
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="additional-trigger-box static md:relative xl:absolute xl:top-[100px] xl:left-[230px] w-full md:w-[60%] lg:w-[65%] xl:w-[780px] md:max-w-[580px] lg:max-w-[680px] xl:max-w-none h-auto md:h-auto lg:h-[460px] xl:h-[450px] flex flex-col md:flex-col lg:flex-row items-center md:items-stretch lg:items-start justify-center mt-6 lg:mt-0 gap-4 md:gap-6 lg:gap-0">

                <img src="/img/additional/funeral-wreath-white-lilies.webp" alt="Funeral Wreath" class="hidden xl:block absolute top-[7px] left-0 w-[1024px] h-[683px] max-w-none pointer-events-none z-0
opacity-0 [.active_&]:opacity-100 transition-all duration-[2500ms] ease-out">

                <!-- Изменено: Установлена явная ширина w-[85%] на мобильных -->
                <img src="/img/additional/ritual.webp" alt="Funeral Services Ceremonies" class="parallax-layer absolute max-md:relative md:static lg:absolute top-0 left-0 max-md:left-0 md:left-[2%] lg:left-[5%] xl:left-[163px] w-[85%] md:w-full md:max-h-[220px] lg:w-[85%] lg:max-h-none xl:w-[585px] xl:h-[298.6px] xl:max-w-none object-cover rounded-[20.08px] shadow-[0px_17.79px_41px_0px_rgba(0,0,0,0.11)] z-10 
opacity-0 -translate-x-32 [.active_&]:opacity-100 [.active_&]:translate-x-0 transition-all duration-[2000ms] ease-out
hover:scale-[1.02]! [@media(min-width:1024px)]:[transition:transform_0.5s_ease,opacity_2s_ease,translate_2s_ease]">

                <!-- ИСПРАВЛЕНО: Изменено с w-[65%] на w-[85%] lg:w-[65%] — теперь на экранах меньше md ширина полностью совпадает с верхним изображением -->
                <img src="/img/additional/cemetery-care-tools.webp" alt="Grave Maintenance and Monuments" class="absolute max-md:relative md:static lg:absolute top-[30%] left-[28%] max-md:left-0 md:left-[32%] lg:left-[35%] xl:top-[167px] xl:left-[572.33px] w-[85%] md:w-full md:max-h-[220px] lg:w-[65%] lg:max-h-none xl:w-[378.89px] xl:h-[256.87px] xl:max-w-none object-cover rounded-[23.55px] shadow-[0px_17.79px_41px_0px_rgba(0,0,0,0.11)] z-20 mt-0
opacity-0 translate-x-32 translate-y-32 [.active_&]:opacity-100 [.active_&]:translate-x-0 [.active_&]:translate-y-0 transition-all duration-[2000ms] delay-300 ease-out
hover:scale-[1.02]! [@media(min-width:1024px)]:[transition:transform_0.5s_ease,opacity_2s_ease,translate_2s_ease]">

                <img src="/img/additional/memorial-candle-topview.webp" alt="Memorial Candle"
                    class="hidden xl:block absolute top-[-54px] left-[779px] max-w-none z-30 pointer-events-none animate-pulse
opacity-0 -translate-y-20 [.active_&]:opacity-100 [.active_&]:translate-y-0 transition-all duration-[2000ms] delay-700 ease-out">
            </div>

        </div>
    </div>
</section>