<section class="forever-catalog pt-10 pb-[127px] lg:pt-[55px] px-4">
    <div class="max-w-[1170px] mx-auto">

        <div
            class="flex flex-col lg:flex-row items-center lg:items-start justify-between gap-12 lg:gap-8 xl:gap-[66px]">

            <div
                class="max-w-none lg:max-w-[311px] w-full flex flex-col items-center lg:items-start gap-12 shrink-0 z-30 relative">
                <div class="text-center lg:text-left">
                    <h3
                        class="font-cormorant font-semibold text-[35px] leading-[40px] lg:text-[58px]/[50px] mb-[25px] text-dark">
                        Каталог памятников
                    </h3>
                    <p class="text-[14px]/[22px] text-dark/90 max-w-[500px] lg:max-w-none mx-auto lg:mx-0">
                        На сайт был загружен и структурирован каталог памятников с торговыми предложениями. Пользователи
                        получили возможность удобно просматривать ассортимент, сравнивать варианты и оставлять заявки на
                        интересующие модели.
                    </p>
                </div>

                <div class="grid grid-cols-3 gap-y-[30px] gap-x-[13px] gap-2 justify-items-center">
                    <div class="flex flex-col items-center gap-2.5 group">
                        <div
                            class="w-[82px] h-[76px] overflow-hidden rounded-[8px] transition-transform duration-300 ease-out group-hover:scale-110 shadow-[0_10px_20px_rgba(0,0,0,0.4)]">
                            <img src="/img/catalog/1.jpg" class="w-full h-full object-cover" alt="Gabbo">
                        </div>
                        <p
                            class="text-center text-[11px] leading-[20px] font-normal text-dark group-hover:text-[#068178] transition-colors duration-300 ease-out">
                            Габбо/Долерит
                        </p>
                    </div>
                    <div class="flex flex-col items-center gap-2.5 group">
                        <div
                            class="w-[82px] h-[76px] overflow-hidden rounded-[8px] transition-transform duration-300 ease-out group-hover:scale-110 shadow-[0_10px_20px_rgba(0,0,0,0.4)]">
                            <img src="/img/catalog/2.jpg" class="w-full h-full object-cover" alt="Alatagyl">
                        </div>
                        <p
                            class="text-center text-[11px] leading-[20px] font-normal text-dark group-hover:text-[#068178] transition-colors duration-300 ease-out">
                            Алатагыл
                        </p>
                    </div>
                    <div class="flex flex-col items-center gap-2.5 group">
                        <div
                            class="w-[82px] h-[76px] overflow-hidden rounded-[8px] transition-transform duration-300 ease-out group-hover:scale-110 shadow-[0_10px_20px_rgba(0,0,0,0.4)]">
                            <img src="/img/catalog/3.jpg" class="w-full h-full object-cover" alt="Kok-Saray">
                        </div>
                        <p
                            class="text-center text-[11px] leading-[20px] font-normal text-dark group-hover:text-[#068178] transition-colors duration-300 ease-out">
                            Кок-Сарай
                        </p>
                    </div>
                    <div class="flex flex-col items-center gap-2.5 group">
                        <div
                            class="w-[82px] h-[76px] overflow-hidden rounded-[8px] transition-transform duration-300 ease-out group-hover:scale-110 shadow-[0_10px_20px_rgba(0,0,0,0.4)]">
                            <img src="/img/catalog/4.jpg" class="w-full h-full object-cover" alt="Korday">
                        </div>
                        <p
                            class="text-center text-[11px] leading-[20px] font-normal text-dark group-hover:text-[#068178] transition-colors duration-300 ease-out">
                            Кордай/Жельтау
                        </p>
                    </div>
                    <div class="flex flex-col items-center gap-2.5 group">
                        <div
                            class="w-[82px] h-[76px] overflow-hidden rounded-[8px] transition-transform duration-300 ease-out group-hover:scale-110 shadow-[0_10px_20px_rgba(0,0,0,0.4)]">
                            <img src="/img/catalog/5.jpg" class="w-full h-full object-cover" alt="Kurty">
                        </div>
                        <p
                            class="text-center text-[11px] leading-[20px] font-normal text-dark group-hover:text-[#068178] transition-colors duration-300 ease-out">
                            Курты
                        </p>
                    </div>
                    <div class="flex flex-col items-center gap-2.5 group">
                        <div
                            class="w-[82px] h-[76px] overflow-hidden rounded-[8px] transition-transform duration-300 ease-out group-hover:scale-110 shadow-[0_10px_20px_rgba(0,0,0,0.4)]">
                            <img src="/img/catalog/6.jpg" class="w-full h-full object-cover" alt="Kapal Arasan">
                        </div>
                        <p
                            class="text-center text-[11px] leading-[20px] font-normal text-dark group-hover:text-[#068178] transition-colors duration-300 ease-out">
                            Капал Арасан
                        </p>
                    </div>
                    <div class="flex flex-col items-center gap-2.5 group">
                        <div
                            class="w-[82px] h-[76px] overflow-hidden rounded-[8px] transition-transform duration-300 ease-out group-hover:scale-110 shadow-[0_10px_20px_rgba(0,0,0,0.4)]">
                            <img src="/img/catalog/7.jpg" class="w-full h-full object-cover" alt="Shansi">
                        </div>
                        <p
                            class="text-center text-[11px] leading-[20px] font-normal text-dark group-hover:text-[#068178] transition-colors duration-300 ease-out">
                            Шанси
                        </p>
                    </div>
                </div>
            </div>

            <div
                class="js-anim-catalog relative w-full lg:max-w-[600px] xl:max-w-[700px] 2xl:max-w-[793px] h-auto lg:h-[433px] flex items-center justify-center">

                <img src="/img/catalog/granit.webp" alt="Гранит"
                    class="hidden lg:block absolute -top-[160px] xl:-top-[215px] -left-[100px] xl:-left-[180px] rotate-[-35deg] opacity-0 pointer-events-none object-contain z-10 max-w-none transition-all duration-[1200ms] ease-out [.is-active_&]:rotate-[-15.09deg] [.is-active_&]:opacity-100" />

                <div
                    class="relative max-w-full h-auto z-20 rounded-[14px] overflow-hidden filter drop-shadow-[0_20px_25px_rgba(0,0,0,0.25)] translate-y-10 opacity-0 transition-all duration-[1000ms] ease-out delay-200 [.is-active_&]:translate-y-0 [.is-active_&]:opacity-100">
                    <img src="/img/catalog/info.webp" alt="Информация" class="w-full h-auto object-contain" />
                </div>
            </div>

        </div>
    </div>
</section>