<section
    class="forever-connection pt-[55px] pb-[150px] lg:pb-[315px] bg-[url(/img/connection/connection-bg.webp)] bg-cover bg-bottom bg-no-repeat px-4">
    <div class="max-w-[1170px] mx-auto text-white">

        <div class="flex flex-col lg:flex-row gap-8 lg:gap-[70px] justify-center items-center lg:items-start">

            <div
                class="max-w-[386px] w-full flex flex-col items-center lg:items-start text-center lg:text-left shrink-0">
                <h3 class="font-cormorant font-semibold text-[35px] leading-[40px] lg:text-[58px]/[50px] mb-[37px]">
                    Быстрая связь через WhatsApp
                </h3>
                <p class="text-[14px]/[22px] mb-5">
                    Для каждой ритуальной услуги реализованы отдельные кнопки WhatsApp.
                </p>
                <p class="text-[14px]/[22px]">
                    При обращении менеджер сразу понимает, по какой именно услуге поступил запрос, что позволяет
                    значительно ускорить обработку заявок и повысить качество консультации.
                </p>
            </div>

            <div
                class="js-connection-anim flex flex-col items-center justify-center lg:block mt-0 lg:mt-[70px] shrink-0 w-full lg:w-auto max-w-[465px] lg:max-w-none">
                <div class="relative w-full h-auto">

                    <img src="/img/connection/list.webp" alt="Fast Connection Lists"
                        class="w-full h-auto object-contain rounded-[15px]">

                    <svg class="hidden lg:block absolute top-48 left-[75px] z-10 pointer-events-none" width="90"
                        height="217" viewBox="0 0 90 217" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path class="animated-svg-line"
                                d="M0.75 0.75V195.25C0.75 204.501 8.24923 211.25 17.5 211.25H88.75" stroke="#25D366"
                                stroke-width="2" stroke-linecap="round" fill="none" />

                            <path class="animated-svg-arrow"
                                d="M84.5074 205.947C84.2145 205.654 83.7396 205.654 83.4467 205.947C83.1538 206.24 83.1538 206.714 83.4467 207.007L87.6893 211.25L83.4467 215.493C83.1538 215.786 83.1538 216.26 83.4467 216.553C83.7396 216.846 84.2145 216.846 84.5074 216.553L89.2803 211.78C89.5732 211.487 89.5732 211.013 89.2803 210.72L84.5074 205.947Z"
                                fill="#25D366" />
                        </g>
                    </svg>

                    <div
                        class="animated-address absolute top-[43.5%] lg:top-[203px] left-1/2 -translate-x-1/2 w-full max-w-[52%] lg:max-w-none lg:w-[381px] lg:h-[325px] h-auto rounded-[15px] z-30 bg-white shadow-[0_0_25px_rgba(0,0,0,0.15)] opacity-0">

                        <img src="/img/connection/address.webp" alt="Address Info"
                            class="w-full h-full object-contain rounded-[15px]">
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>