<section class="forever-next overflow-hidden relative md:0 pt-2 pb-16 xl:pb-[101px] px-4 bg-[#FDFBFA]">
    <div class="max-w-[1170px] mx-auto">
        <div
            class="relative flex flex-col lg:flex-row-reverse items-center lg:justify-center xl:justify-between gap-6 lg:gap-8 xl:gap-0">
            <div
                class="mt-0 lg:mt-8 xl:mt-28 max-w-[405px] w-full flex flex-col items-center lg:items-start text-center lg:text-left shrink-0">
                <h3
                    class="font-cormorant font-semibold text-[35px] leading-[40px] lg:text-[58px]/[50px] mb-6 lg:mb-[37px]">
                    Что дальше?
                </h3>
                <p class="text-[14px]/[22px] mb-4 lg:mb-5">
                    Сайт стал надежной онлайн площадкой для взаимодействия с клиентами. В дальнейшем проект может
                    развиваться за счет SEO-продвижения, расширения каталога памятников, внедрения онлайн-консультаций,
                    автоматизации обработки заявок и дальнейшего улучшения пользовательского опыта.
                </p>
                <p class="text-[14px]/[22px]">
                    Похоронное бюро НАВСЕГДА получило современный инструмент, который помогает компании эффективно
                    презентовать услуги, выстраивать доверительные отношения с клиентами и увеличивать количество
                    обращений через сайт.
                </p>
            </div>

            <div class="animate-on-scroll opacity-0 -translate-x-12 transition-all duration-700 ease-out">

                <div
                    class="static lg:relative xl:absolute xl:top-1/2 xl:-translate-y-1/2 xl:left-0 xl:-translate-x-[430px] w-full lg:w-full xl:w-auto max-w-[720px] xl:max-w-none flex justify-center z-0 order-first lg:order-none">
                    <img src="/img/following/organization.webp" alt="Organization Photo"
                        class="w-full object-cover rounded-[20px] xl:rounded-r-[30px] shadow-[0_12px_30px_rgba(0,0,0,0.06)] xl:w-[1029px] xl:max-w-none">
                </div>

            </div>

        </div>
    </div>
</section>