<section>
    <div class="max-w-[1170px] mx-auto">
        <div>
            <div class="w-full mb-[33px] flex flex-col items-center lg:items-start text-center lg:text-left shrink-0">
                <h3 class="font-cormorant font-semibold text-[35px] leading-[40px] lg:text-[58px]/[50px] mb-[37px]">
                    Дополнительные работы
                </h3>
                <p class="text-[14px]/[22px]">
                    В рамках проекта также были выполнены дополнительные задачи:
                </p>
            </div>
        </div>
    </div>
</section>