<section
    class="forever-goals bg-[url(/img/goals-bg.webp)] bg-cover bg-no-repeat bg-center pt-10 pb-12 lg:pt-[70px] lg:pb-[90px] px-4">
    <div class="max-w-[1170px] mx-auto">
        <div
            class="flex flex-col lg:flex-row gap-8 lg:gap-[126px] items-center lg:items-start text-center lg:text-left">
            <div class="max-w-[343px] w-full flex flex-col items-center lg:items-start">
                <h3 class="font-cormorant font-semibold text-[35px] leading-[40px] lg:text-[58px]/[50px] mb-[25px]">
                    Цели и задачи проекта
                </h3>
                <p class="text-[16px]/[24px] font-medium max-w-[271px]">
                    Перед нашей командой стояли следующие задачи:
                </p>
            </div>

            <div class="flex flex-col items-center sm:grid grid-cols-1 sm:grid-cols-2 gap-y-1 gap-x-5 w-full max-w-[650px] justify-items-center sm:justify-items-start">
                <div
                    class="hover:shadow-[0_12px_30px_rgba(0,0,0,0.06)] p-3 sm:p-[21px] rounded-[26px] group bg-transparent hover:bg-[#FFFEFD] w-full md:max-w-72 flex items-start gap-[18px] justify-start text-left transition-colors duration-300">
                    <div
                        class="shrink-0 font-cormorant-infant font-medium text-[38px] leading-none text-dark/50 group-hover:text-[#068178] transition-colors duration-300">
                        01
                    </div>
                    <div class="w-[1px] h-10 sm:h-[80px] bg-[#A89C72]/25 shrink-0 transition-colors duration-300"></div>
                    <div class="flex-1 min-h-0 sm:min-h-[80px]">
                        <p
                            class="text-[14px] leading-5 group-hover:text-dark text-dark/75 transition-colors duration-300">
                            Обновить внешний вид сайта и сделать его более современным и аккуратным
                        </p>
                    </div>
                </div>

                <div
                    class="hover:shadow-[0_12px_30px_rgba(0,0,0,0.06)] p-3 sm:p-[21px] rounded-[26px] group bg-transparent hover:bg-[#FFFEFD] w-full md:max-w-72 flex items-start gap-[18px] justify-start text-left transition-colors duration-300">
                    <div
                        class="shrink-0 font-cormorant-infant font-medium text-[38px] leading-none text-dark/50 group-hover:text-[#068178] transition-colors duration-300">
                        02
                    </div>
                    <div class="w-[1px] h-10 sm:h-[80px] bg-[#A89C72]/25 shrink-0 transition-colors duration-300"></div>
                    <div class="flex-1 min-h-0 sm:min-h-[80px]">
                        <p
                            class="text-[14px] leading-5 group-hover:text-dark text-dark/75 transition-colors duration-300">
                            Повысить удобство навигации для посетителей
                        </p>
                    </div>
                </div>

                <div
                    class="hover:shadow-[0_12px_30px_rgba(0,0,0,0.06)] p-3 sm:p-[21px] rounded-[26px] group bg-transparent hover:bg-[#FFFEFD] w-full md:max-w-72 flex items-start gap-[18px] justify-start text-left transition-colors duration-300">
                    <div
                        class="shrink-0 font-cormorant-infant font-medium text-[38px] leading-none text-dark/50 group-hover:text-[#068178] transition-colors duration-300">
                        03
                    </div>
                    <div class="w-[1px] h-10 sm:h-[80px] bg-[#A89C72]/25 shrink-0 transition-colors duration-300"></div>
                    <div class="flex-1 min-h-0 sm:min-h-[80px]">
                        <p
                            class="text-[14px] leading-5 group-hover:text-dark text-dark/75 transition-colors duration-300">
                            Упростить процесс обращения по конкретным услугам
                        </p>
                    </div>
                </div>

                <div
                    class="hover:shadow-[0_12px_30px_rgba(0,0,0,0.06)] p-3 sm:p-[21px] rounded-[26px] group bg-transparent hover:bg-[#FFFEFD] w-full md:max-w-72 flex items-start gap-[18px] justify-start text-left transition-colors duration-300">
                    <div
                        class="shrink-0 font-cormorant-infant font-medium text-[38px] leading-none text-dark/50 group-hover:text-[#068178] transition-colors duration-300">
                        04
                    </div>
                    <div class="w-[1px] h-10 sm:h-[80px] bg-[#A89C72]/25 shrink-0 transition-colors duration-300"></div>
                    <div class="flex-1 min-h-0 sm:min-h-[80px]">
                        <p
                            class="text-[14px] leading-5 group-hover:text-dark text-dark/75 transition-colors duration-300">
                            Автоматизировать размещение большого каталога памятников
                        </p>
                    </div>
                </div>

                <div
                    class="hover:shadow-[0_12px_30px_rgba(0,0,0,0.06)] p-3 sm:p-[21px] rounded-[26px] group bg-transparent hover:bg-[#FFFEFD] w-full md:max-w-72 flex items-start gap-[18px] justify-start text-left transition-all duration-300">
                    <div
                        class="shrink-0 font-cormorant-infant font-medium text-[38px] leading-none text-dark/50 group-hover:text-[#068178] transition-colors duration-300">
                        05
                    </div>
                    <div class="w-[1px] h-10 sm:h-[80px] bg-[#A89C72]/25 shrink-0 transition-colors duration-300"></div>
                    <div class="flex-1 min-h-0 sm:min-h-[80px]">
                        <p
                            class="text-[14px] leading-5 group-hover:text-dark text-dark/75 transition-colors duration-300">
                            Усилить доверие к компании через реальные отзывы клиентов
                        </p>
                    </div>
                </div>

                <div
                    class="hover:shadow-[0_12px_30px_rgba(0,0,0,0.06)] p-3 sm:p-[21px] rounded-[26px] group bg-transparent hover:bg-[#FFFEFD] w-full md:max-w-72 flex items-start gap-[18px] justify-start text-left transition-colors duration-300">
                    <div
                        class="shrink-0 font-cormorant-infant font-medium text-[38px] leading-none text-dark/50 group-hover:text-[#068178] transition-colors duration-300">
                        06
                    </div>
                    <div class="w-[1px] h-10 sm:h-[80px] bg-[#A89C72]/25 shrink-0 transition-colors duration-300"></div>
                    <div class="flex-1 min-h-0 sm:min-h-[80px]">
                        <p
                            class="text-[14px] leading-5 group-hover:text-dark text-dark/75 transition-colors duration-300">
                            Улучшить визуальную подачу контента на всех страницах сайта
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>