<section class="forever-info pt-10 pb-12 lg:pt-[72px] lg:pb-[76px] px-4">
    <div class="max-w-[970px] mx-auto">
        
        <div class="flex flex-col lg:flex-row gap-6 lg:gap-[61px] items-center text-center lg:text-left">
            
            <div class="w-[166px] h-[121px] shrink-0">
                <img 
                    src="/img/logo.png" 
                    alt="Forever Logo" 
                    class="w-full h-full object-contain"
                />
            </div>
            
            <div class="flex flex-col gap-4 lg:gap-7 text-[16px]/[26px] lg:text-[20px]/[32px] border-l-0 lg:border-l border-l-[#A89C72]/25 pl-0 lg:pl-[62px] max-w-[692px] font-normal text-dark/90">
                <p>
                    Похоронное бюро НАВСЕГДА  - компания, оказывающая полный спектр ритуальных услуг и занимающаяся изготовлением и продажей памятников. 
                </p>
                <p>
                    <span class="font-semibold text-dark">Основная задача бизнеса</span> - помочь клиентам быстро получить необходимую информацию, выбрать подходящие услуги и оперативно связаться со специалистами в сложный жизненный период.
                </p>
            </div>
            
        </div>
    </div>
</section>