<section class="forever-integration pt-10 pb-8 lg:pt-[56px] bg-[url(/img/integration/integration-bg.webp)] bg-cover bg-center px-4">
    <div class="max-w-[1170px] mx-auto">
        <div class="flex flex-col lg:flex-row items-center lg:items-start justify-between gap-8 lg:gap-[20px]">
            <div class="max-w-[377px] w-full flex flex-col items-center lg:items-start text-center lg:text-left shrink-0">
                <h3 class="font-cormorant font-semibold text-[35px] leading-[40px] lg:text-[58px]/[50px] mb-[10px] xl:mb-[37px]">
                    Интеграция отзывов Google
                </h3>
                <p class="text-[14px]/[22px]">
                    На главной странице внедрен блок с актуальными отзывами из Google. Это позволяет посетителям видеть
                    реальный опыт клиентов и формирует дополнительное доверие к компании.
                </p>
            </div>
            <div class="w-full max-w-[500px] md:max-w-[650px] lg:max-w-[700px] xl:max-w-[780px] h-auto shrink-0 mt-0">
                <img src="/img/integration/reviews.webp" alt="Интеграция отзывов Google" class="w-full h-full object-contain mx-auto">
            </div>
        </div>
    </div>
</section>