<section class="forever-process pt-10 pb-12 lg:pt-[76px] lg:pb-[98px] px-4">
    <div class="max-w-[1170px] mx-auto">
        <div class="flex flex-col lg:flex-row items-center lg:items-start lg:gap-[83px]">

            <div class="flex flex-col gap-6 lg:gap-[91px] w-full lg:max-w-[437px] items-center lg:items-start text-center lg:text-left shrink-0">
                <h3
                    class="font-cormorant font-semibold text-[35px] leading-[40px] lg:text-[58px]/[50px] mb-[25px] lg:mb-0 max-w-none lg:max-w-[270px] text-dark">
                    Процесс разработки
                </h3>
                <div class="w-full max-w-[437px] h-auto md:h-[347px] shrink-0">
                    <img src="/img/cemetery.webp" alt="Процесс разработки" class="w-full h-full object-contain">
                </div>
            </div>

            <div class="flex flex-col gap-2 lg:gap-4 w-full lg:flex-1 items-center lg:items-start max-w-[630px]">
                <div
                    class="w-full flex flex-col lg:flex-row items-center lg:items-start text-center lg:text-left py-5 lg:py-6 px-4 lg:px-[30px] gap-4 lg:gap-[37px] bg-transparent group hover:bg-[#F3F0EB] transition-colors duration-300 rounded-[20px] lg:rounded-[35px]">
                    <div
                        class="shrink-0 mt-0 lg:mt-1.5 text-[#AFAFAF] group-hover:text-dark transition-colors duration-300">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g mask="url(#mask0_16_4092)">
                                <path
                                    d="M18.5547 1.20312C18.6798 1.20312 18.7812 1.10166 18.7812 0.976562C18.7812 0.85147 18.6798 0.75 18.5547 0.75C18.4296 0.75 18.3281 0.85147 18.3281 0.976562C18.3281 1.10166 18.4296 1.20312 18.5547 1.20312Z"
                                    fill="currentColor" stroke="currentColor" stroke-width="1.5" />
                                <path
                                    d="M22.9167 1.5128C28.8938 3.0291 33.6532 7.62207 35.4297 13.4971C35.9189 15.1143 36.1816 16.8291 36.1816 18.6035C36.1816 22.3994 34.9775 25.915 32.9316 28.7891C31.791 30.3896 30.3897 31.791 28.7891 32.9316C25.915 34.9775 22.3994 36.1816 18.6035 36.1816C8.89551 36.1816 0.976562 28.3115 0.976562 18.6035C0.976562 10.4166 6.6084 3.50205 14.1956 1.53623"
                                    stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M32.9336 28.7902L36.789 32.6456L46.9517 42.8082C48.0959 43.9524 48.0959 45.8076 46.9517 46.9518C45.8075 48.096 43.9524 48.096 42.8081 46.9518L32.6455 36.7892L28.79 32.9337"
                                    stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M12.7441 21.5332C12.7441 19.915 11.4326 18.6035 9.81445 18.6035C8.19629 18.6035 6.88477 19.915 6.88477 21.5332C6.88477 23.1514 8.19629 24.4629 9.81445 24.4629C11.4326 24.4629 12.7441 23.1514 12.7441 21.5332Z"
                                    stroke="#068178" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M21.5332 12.7441C21.5332 11.126 20.2217 9.81445 18.6035 9.81445C16.9854 9.81445 15.6738 11.126 15.6738 12.7441C15.6738 14.3623 16.9854 15.6738 18.6035 15.6738C20.2217 15.6738 21.5332 14.3623 21.5332 12.7441Z"
                                    stroke="#068178" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M30.3223 21.5332C30.3223 19.915 29.0107 18.6035 27.3926 18.6035C26.584 18.6035 25.8516 18.9316 25.3213 19.4619C24.791 19.9922 24.4629 20.7246 24.4629 21.5332C24.4629 23.1514 25.7744 24.4629 27.3926 24.4629C29.0107 24.4629 30.3223 23.1514 30.3223 21.5332Z"
                                    stroke="#068178" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M11.8867 19.4619L16.5322 14.8164" stroke="#068178" stroke-width="1.5"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M20.6757 14.8165L25.3212 19.462" stroke="#068178" stroke-width="1.5"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M29.4648 19.4619L35.4297 13.4971L39.9697 8.95703" stroke="#068178"
                                    stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M44.9707 6.88477C44.9707 8.50293 43.6592 9.81445 42.041 9.81445C40.4229 9.81445 39.1113 8.50293 39.1113 6.88477C39.1113 5.2666 40.4229 3.95508 42.041 3.95508C43.6592 3.95508 44.9707 5.2666 44.9707 6.88477Z"
                                    stroke="#068178" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M32.6455 36.7892L36.7891 32.6456" stroke="currentColor" stroke-width="1.5"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                        </svg>
                    </div>
                    <p class="font-normal text-[14px] leading-normal lg:leading-5.5 text-dark/90">
                        Проект начался с анализа существующего сайта, пожеланий клиента и пользовательских сценариев.
                        Заказчик обратился к нам с необходимостью разработки нового сайта, поскольку прежний ресурс уже
                        не соответствовал его требованиям по визуальному оформлению, удобству использования и
                        представлению услуг.
                    </p>
                </div>

                <div
                    class="w-full flex flex-col lg:flex-row items-center lg:items-start text-center lg:text-left py-5 lg:py-6 px-4 lg:px-[30px] gap-4 lg:gap-[37px] bg-transparent group hover:bg-[#F3F0EB] transition-colors duration-300 rounded-[20px] lg:rounded-[35px]">
                    <div
                        class="shrink-0 mt-0 lg:mt-1.5 text-[#AFAFAF] group-hover:text-dark transition-colors duration-300">
                        <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M40.3944 13.7382C40.4948 13.8383 40.658 13.8378 40.7583 13.7375C40.8584 13.6372 40.8584 13.4746 40.7583 13.3743C40.658 13.274 40.4948 13.2735 40.3944 13.3736C40.2941 13.474 40.2941 13.6378 40.3944 13.7382Z"
                                fill="currentColor" stroke="currentColor" stroke-width="1.702" />
                            <path
                                d="M43.2208 17.2389C46.383 23.0397 46.2408 30.1247 42.9187 35.7997C42.0044 37.362 40.8483 38.8175 39.4541 40.1099C36.4716 42.8748 32.8323 44.4894 29.0839 44.9753C26.9955 45.2449 24.8737 45.1645 22.8116 44.7377C19.1107 43.9697 15.6039 42.0845 12.8391 39.102C5.76799 31.4742 6.18372 19.5197 13.8115 12.4486C20.2441 6.48538 29.7792 5.87403 36.8501 10.4036"
                                stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M4.41547 25.9885H10.3751" stroke="currentColor" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M43.0092 25.9885H48.9688" stroke="currentColor" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M27.0092 48.9484V42.9888" stroke="currentColor" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M27.0092 9.94836V3.98877" stroke="currentColor" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M27.0093 23.3959C29.3598 23.3959 31.2652 21.4972 31.2652 19.1551C31.2652 16.8129 29.3598 14.9142 27.0093 14.9142C24.6588 14.9142 22.7533 16.8129 22.7533 19.1551C22.7533 21.4972 24.6588 23.3959 27.0093 23.3959Z"
                                stroke="#068178" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M19.48 31.2411V37.063H34.5384V31.2411C34.5384 29.557 33.1731 28.1918 31.4891 28.1918H22.5293C20.8453 28.1918 19.48 29.557 19.48 31.2411Z"
                                stroke="#068178" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M27.0092 28.9885V32.9885" stroke="#068178" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <p class="font-normal text-[14px] leading-normal lg:leading-5.5 text-dark/90">
                        Особое внимание было уделено тому, как посетители взаимодействуют с услугами и каталогом
                        памятников, а также скорости и удобству обращения в компанию.
                    </p>
                </div>

                <div
                    class="w-full flex flex-col lg:flex-row items-center lg:items-start text-center lg:text-left py-5 lg:py-6 px-4 lg:px-[30px] gap-4 lg:gap-[37px] bg-transparent group hover:bg-[#F3F0EB] transition-colors duration-300 rounded-[20px] lg:rounded-[35px]">
                    <div
                        class="shrink-0 mt-0 lg:mt-1.5 text-[#AFAFAF] group-hover:text-dark transition-colors duration-300">
                        <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g mask="url(#mask0_16_4242)">
                                <path
                                    d="M27.2461 43.2422H10.5469C5.69276 43.2422 1.75781 39.3072 1.75781 34.4531V10.5469C1.75781 5.69276 5.69276 1.75781 10.5469 1.75781H34.4531C39.3072 1.75781 43.2422 5.69276 43.2422 10.5469V27.3779"
                                    stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16.3691 11.0742H34.4531" stroke="currentColor" stroke-width="1.5"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M10.5469 18.1055H34.4531" stroke="currentColor" stroke-width="1.5"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M10.5469 25.1365H16.875" stroke="currentColor" stroke-width="1.5"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M10.5469 33H18.875" stroke="currentColor" stroke-width="1.5"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M10 11C10 11.5523 10.4477 12 11 12C11.5523 12 12 11.5523 12 11C12 10.4477 11.5523 10 11 10C10.4477 10 10 10.4477 10 11Z"
                                    fill="currentColor" />
                                <path
                                    d="M41.8779 41.8778C43.697 40.0587 43.697 37.1093 41.8779 35.2902L35.7159 29.1282C34.1864 27.5986 32.2382 26.5561 30.117 26.1322L25.1367 25.1367L26.1322 30.117C26.5562 32.2381 27.5987 34.1862 29.1283 35.7159L35.2902 41.8778C37.1094 43.697 40.0587 43.697 41.8779 41.8778Z"
                                    stroke="#068178" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </g>
                            <line x1="40.5303" y1="34.5303" x2="34.5303" y2="40.5303" stroke="#068178"
                                stroke-width="1.5" />
                        </svg>
                    </div>
                    <p class="font-normal text-[14px] leading-normal lg:leading-5.5 text-dark/90">
                        На основании проведенного анализа была выполнена переработка ключевых страниц, обновлена
                        структура контента и подобран новый визуальный контент, который помог создать спокойную,
                        аккуратную и профессиональную атмосферу сайта.
                    </p>
                </div>

                <div
                    class="w-full flex flex-col lg:flex-row items-center lg:items-start text-center lg:text-left py-5 lg:py-6 px-4 lg:px-[30px] gap-4 lg:gap-[37px] bg-transparent group hover:bg-[#F3F0EB] transition-colors duration-300 rounded-[20px] lg:rounded-[35px]">
                    <div
                        class="shrink-0 mt-0 lg:mt-1.5 text-[#AFAFAF] group-hover:text-dark transition-colors duration-300">
                        <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g mask="url(#mask0_16_4239)">
                                <path
                                    d="M19.902 14.6287L15.2051 9.93178C14.7754 9.502 14.0793 9.502 13.6503 9.93178L12.4612 11.12C10.532 13.0492 10.0108 15.9927 11.2218 18.4369C13.3761 22.7866 17.8092 29.4541 26.3505 33.642C28.8027 34.8435 31.7602 34.3337 33.6903 32.4036L34.9058 31.188C35.3356 30.7583 35.3356 30.0623 34.9058 29.6325L30.2097 24.9364C29.78 24.5067 29.0839 24.5067 28.6541 24.9364L26.659 26.9315C26.0842 27.5064 25.1772 27.6382 24.4924 27.2014C21.7388 25.4418 19.3984 23.1021 17.637 20.3451C17.1994 19.6604 17.3312 18.7534 17.906 18.1794L19.902 16.1834C20.3309 15.7545 20.3309 15.0576 19.902 14.6287Z"
                                    stroke="#068178" stroke-width="1.75781" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M23.3789 0.87915C23.3789 1.36448 22.9853 1.75806 22.5 1.75806C22.0147 1.75806 21.6211 1.36448 21.6211 0.87915C21.6211 0.393818 22.0147 0.000244141 22.5 0.000244141C22.9853 0.000244141 23.3789 0.393818 23.3789 0.87915Z"
                                    fill="currentColor" />
                                <path
                                    d="M26.4392 1.23493C30.7148 2.01759 34.6496 4.07265 37.7886 7.21167C41.872 11.2951 44.1211 16.7249 44.1211 22.5002C44.1211 28.2755 41.872 33.7054 37.7886 37.7888C33.7052 41.8722 28.2753 44.1213 22.5 44.1213C18.8622 44.1213 15.2736 43.2029 12.1052 41.4626L0.878906 44.1213L3.5376 32.8951C1.79736 29.7266 0.878906 26.138 0.878906 22.5002C0.878906 16.7249 3.12803 11.2951 7.21134 7.21167C10.3504 4.07265 14.2851 2.01759 18.5607 1.23493"
                                    stroke="currentColor" stroke-width="1.75781" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                        </svg>
                    </div>
                    <p class="font-normal text-[14px] leading-normal lg:leading-[22px] text-dark/90">
                        Дополнительно были реализованы удобные механики связи через WhatsApp, проработаны
                        пользовательские сценарии и улучшено представление услуг и каталога памятников на сайте.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>