<section
    class="forever-purchase pt-10 pb-16 lg:pt-[67px] xl:pb-[156px] bg-[url(/img/purchase/purchase-bg.webp)] bg-cover bg-no-repeat bg-center px-4 md:px-10 2xl:px-0 overflow-hidden lg:overflow-visible">
    <div class="max-w-[1170px] mx-auto">

        <h3
            class="font-cormorant font-semibold text-[35px] leading-[40px] text-center lg:text-left lg:text-[58px]/[50px] mb-6 lg:mb-[37px]">
            Как происходит оформление заявки
        </h3>

        <div class="relative flex flex-col lg:flex-row xl:gap-6 lg:gap-[46px] items-center lg:items-start">

            <div class="w-full lg:w-auto flex flex-col items-center lg:block">
                <div
                    class="w-full flex flex-col items-center lg:items-start text-center lg:text-left shrink-0 mb-5 lg:mb-[30px]">
                    <p class="text-[14px]/[22px] max-w-[341px]">
                        Процесс взаимодействия с сайтом максимально упрощен:
                    </p>
                </div>

                <div class="w-full max-w-[400px] flex flex-col gap-y-3 sm:gap-y-0">
                    <div
                        class="rounded-[26px] group w-full flex items-start gap-[18px] justify-start text-left transition-colors duration-300">
                        <div
                            class="shrink-0 font-cormorant-infant font-medium text-[38px] leading-none text-dark/50 group-hover:text-[#068178] transition-colors duration-300">
                            01</div>
                        <div class="w-[1px] h-10 sm:h-[40px] bg-[#A89C72]/25 shrink-0 transition-colors duration-300">
                        </div>
                        <div class="flex-1 min-h-0 sm:min-h-[80px]">
                            <p
                                class="text-[14px] leading-5 group-hover:text-dark text-dark/75 transition-colors duration-300">
                                Посетитель выбирает необходимую услугу или памятник</p>
                        </div>
                    </div>

                    <div
                        class="rounded-[26px] group w-full flex items-start gap-[18px] justify-start text-left transition-colors duration-300">
                        <div
                            class="shrink-0 font-cormorant-infant font-medium text-[38px] leading-none text-dark/50 group-hover:text-[#068178] transition-colors duration-300">
                            02</div>
                        <div class="w-[1px] h-10 sm:h-[40px] bg-[#A89C72]/25 shrink-0 transition-colors duration-300">
                        </div>
                        <div class="flex-1 min-h-0 sm:min-h-[80px]">
                            <p
                                class="text-[14px] leading-5 group-hover:text-dark text-dark/75 transition-colors duration-300">
                                Изучает подробную информацию и фотографии</p>
                        </div>
                    </div>

                    <div
                        class="rounded-[26px] group w-full flex items-start gap-[18px] justify-start text-left transition-colors duration-300">
                        <div
                            class="shrink-0 font-cormorant-infant font-medium text-[38px] leading-none text-dark/50 group-hover:text-[#068178] transition-colors duration-300">
                            03</div>
                        <div class="w-[1px] h-10 sm:h-[40px] bg-[#A89C72]/25 shrink-0 transition-colors duration-300">
                        </div>
                        <div class="flex-1 min-h-0 sm:min-h-[80px]">
                            <p
                                class="text-[14px] leading-5 group-hover:text-dark text-dark/75 transition-colors duration-300">
                                Нажимает кнопку WhatsApp или оставляет заявку через форму обратной связи</p>
                        </div>
                    </div>

                    <div
                        class="rounded-[26px] group w-full flex items-start gap-[18px] justify-start text-left transition-colors duration-300">
                        <div
                            class="shrink-0 font-cormorant-infant font-medium text-[38px] leading-none text-dark/50 group-hover:text-[#068178] transition-colors duration-300">
                            04</div>
                        <div class="w-[1px] h-10 sm:h-[40px] bg-[#A89C72]/25 shrink-0 transition-colors duration-300">
                        </div>
                        <div class="flex-1 min-h-0 sm:min-h-[80px]">
                            <p
                                class="text-[14px] leading-5 group-hover:text-dark text-dark/75 transition-colors duration-300">
                                Менеджер получает информацию о конкретной услуге, которая заинтересовала клиента</p>
                        </div>
                    </div>

                    <div
                        class="rounded-[26px] group w-full flex items-start gap-[18px] justify-start text-left transition-colors duration-300">
                        <div
                            class="shrink-0 font-cormorant-infant font-medium text-[38px] leading-none text-dark/50 group-hover:text-[#068178] transition-colors duration-300">
                            05</div>
                        <div class="w-[1px] h-10 sm:h-[40px] bg-[#A89C72]/25 shrink-0 transition-colors duration-300">
                        </div>
                        <div class="flex-1 min-h-0 sm:min-h-[80px]">
                            <p
                                class="text-[14px] leading-5 group-hover:text-dark text-dark/75 transition-colors duration-300">
                                Клиент оперативно получает консультацию и дальнейшее сопровождение</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animate-on-scroll opacity-0 -translate-x-12 transition-all duration-700 ease-out shrink-0 relative w-[600px] h-[540px] xl:w-auto xl:h-auto mt-6 lg:mt-0 origin-top scale-[0.55] xs:scale-[0.65] md:scale-[0.85] lg:scale-[0.01] xl:scale-100
            max-lg:w-full max-lg:h-auto max-lg:max-w-[540px] max-lg:mx-auto max-lg:scale-100 max-lg:px-0">

                <img class="rounded-[18px] block relative z-10 max-lg:w-full max-lg:h-auto"
                    src="/img/purchase/advert.webp" alt="Advert Page of Navsegda">

                <img class="animate-order opacity-0 translate-y-8 absolute z-30 rounded-[10.54px] shadow-lg w-[224.01px] h-[344.51px] lg:top-[200px] lg:right-[50px] xl:top-[230px] max-lg:hidden"
                    src="/img/purchase/order.jpg" alt="Order Form">

                <img class="animate-address opacity-0 translate-y-8 absolute z-20 rounded-[11.69px] shadow-md w-[288.17px] h-[245.73px] lg:left-5 lg:top-[250px] xl:left-[180px] xl:top-[320px] max-lg:hidden"
                    src="/img/purchase/address.jpg" alt="Address info">

                <img class="absolute z-10 pointer-events-none w-[688px] h-[404px] -left-[220px] -bottom-[260px] max-w-none max-xl:hidden"
                    src="/img/purchase/bushes.webp" alt="Decorative Bushes">
            </div>

        </div>
    </div>
</section>